// --------------------------- MOBILE ------------------------------ //

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  
  &-about {
    padding-top: 125px;
  }

  &-advantages {
    padding: 39px 20px 145px 20px;
  }

  &-customer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &-contacts {
    background-color: var(--central-color);
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 86px;
    
  }
  &-footer {
    position: relative;
    min-width: 320px;
    margin: 0 auto;
    background-color: var(--central-color);
  }

  &-gallery {
    padding: 0;
  }
}


// --------------------------- TABLET ------------------------------ //

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    min-width: 768px;
    padding: 0;
    
     &-about {
      padding: 130px 36px 66px 39px;
    }
    
    &-advantages {
      padding: 0px 76px 140px 36px;
    }
    
    &-customer {
      max-width: 768px;
      padding: 0 74px;
    }

    &-gallery {
      max-width: 768px;
    }
    &-contacts {
      margin-bottom: -100px;
      padding-bottom: 165px;
    }
    
  }
}

// --------------------------- DESKTOP ------------------------------ //

@media screen and (min-width: 1200px) {
  .container {
     min-width: 1200px;
    
     &-about {
      padding: 130px 75px 39px 115px;
    }
    
    &-advantages {
      padding: 0px 115px 139px 115px;
    }
    
    &-customer {
      max-width: 1200px;
      padding: 0px 176px 0px 178px;
    }

    &-gallery {
      max-width: 1200px;
    }
    &-contacts {
      padding-bottom: 168px;
      background-image: url(../images/contacts/contact-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 33%
    }
  }
}