.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  &-about {
    padding-top: 125px;
    // background-color: var(--central-color);
  }

  &-advantages {
    padding: 0px 20px 97px 20px;
    // background-color: var(--central-color);
  }

  &-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-customer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-contacts {
    background-image: linear-gradient(to top, var(--central-color) 88%, var(--white-color) 80%);
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 86px;
  }
  &-footer {
    position: relative;
    min-width: 320px;
    margin: 0 auto;
    background-color: var(--central-color);
  }

  &-gallery {
    padding: 0;
  }
}

// --------------------------- MOBILE ------------------------------ //

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    min-width: 480px;

    &-about {
      padding: 130px 36px 0px 39px;
    }

    &-advantages {
      padding: 1px 70px 140px 70px;
    }
  }
}

// --------------------------- TABLET ------------------------------ //

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;

    &-header {
      padding: 37px 34px 0px 34px;
      // czasowo zabrany background-color z section
      background-color: var(--first-background-color);

    }

    &-products {
      max-width: 768px;
    }

    &-about {
      padding: 130px 36px 0px 39px;
    }

    &-advantages {
      padding: 0px 76px 140px 36px;
    }

    &-customer {
      max-width: 768px;
      padding: 0 74px;
    }

    &-gallery {
      max-width: 768px;
    }

    &-contacts {
      margin-bottom: -100px;
      padding-bottom: 165px;

      background-image: linear-gradient(to top, var(--central-color) 90%, var(--white-color) 80%);
    }
  }
}

// --------------------------- DESKTOP ------------------------------ //

// zauważcie, że na figmie cały layout ma 1280px, a nie 1200px

@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    max-width: 1280px;

    &-header {
      position: relative;
      padding: 0px;
    }

    &-products {
      max-width: 1200px;
    }

    &-about {
      padding: 125px 117px 39px 112px;
    }

    &-advantages {
      padding: 0px 115px 139px 115px;
    }

    &-customer {
      padding: 0px 176px 0px 178px;
    }

    &-contacts {
      max-width: 1280px;
      padding-bottom: 168px;
      background-image: url(../images/contacts/contact-bg.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: 33%;
      background-image: linear-gradient(to top, var(--central-color) 80%, var(--white-color) 80%);
    }
    &-footer,
    &-copyright {
      max-width: 1280px;
    }
  }
  .line-container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1280px;
  }
}
