// --------------------------- MOBILE ------------------------------ //
.section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  &-header {
    background-color: var(--first-background-color);
    overflow: hidden;
  }

  &-about {
    padding: 0;
    background-color: var(--central-color);
  }

  &-advantages {
    padding: 0;
    background-color: var(--central-color);
  }

  &-customer {
    padding: 80px 0px 86px 0px;
  }
  &-footer {
    padding: 0px 0px 0px 0px;
    background-color: var(--central-color);
  }

  &-contact {
    background-image: linear-gradient(to top, var(--central-color) 88%, var(--white-color) 80%);
  }

  &-products {
    background-color: var(--products-background);
  }

  &-gallery {
    padding: 0px 0px 0px 0px;
    background: linear-gradient(to bottom, var(--central-color) 39.5%, var(--white-color) 39.5%);
  }
}

// --------------------------- TABLET ------------------------------ //

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section {
    &-products {
      padding: 122px 0px 112px 0px;
    }
    &-customer {
      padding: 121px 0px 166px 0px;
    }

    &-gallery {
      padding: 0px 0px 0px 0px;
    }

    &-footer {
      padding-bottom: 0;
    }
    &-contact {
      background-image: linear-gradient(to top, var(--central-color) 90%, var(--white-color) 80%);
    }
  }
}

// --------------------------- DESKTOP ------------------------------ //
@media screen and (min-width: 1280px) {
  .section-products {
    padding: 127px 0px 119px 0px;
  }

  .contact {
    padding-bottom: 0px;
    background-image: linear-gradient(to top, var(--central-color) 80%, var(--white-color) 80%);
  }
}
