*{
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}
.main-title {
    display: none;
}

.container {
     background-color: #FFF5F6;
    min-width:320px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  padding-top: 86px;
}
.list {
  list-style: none;
  
  
}
.contact__item {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
  padding-top: 43px;
  padding-bottom: 43px;
  max-width: 220px;
  
}
.contact__title {
  font-size: 12px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.contact__secondary-title {
    font-weight: 500;
font-size: 12px;
line-height: 186%;
letter-spacing: 0.04em;
padding-left: 20px;
margin-top: 25px;
}
.contact__title-bg {
  background: #f0d1a5;
  border-radius: 4px;
  width: 80px;
  margin-left: 20px;
  
}

.contact__title-bg-foodtruck {
  background: #c2e297;
  border-radius: 4px;
  width: 130px;
  margin-left: 20px;
}

.contact__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
  padding: 10px 21px 25px 20px;
  position: relative;

     &::after {
          content: "";
    border: 1px solid #E1E1E1;
    width: 179px;
    position: absolute;
    left: 20px;
    bottom: 0px;
     }
}

.time-table__item {
    margin-bottom: 10px;
    margin-top: 25px;
}
.time-table__day {
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 186%;
color: #000000;
padding-left: 20px;
position: relative;

}

.time-table__hours {
    font-weight: 500;
font-size: 12px;
line-height: 186%;
color: #FFA5BA;
padding-left: 20px;


}
.bottom-list__link {
    font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #907E82;
text-decoration: none;
padding-left: 20px;
}
.contact__bottom-list {
    margin-top: 50px;
    position: relative;
    &::before {
    position: absolute;
    content: "";
    border: 1px solid #E1E1E1;
    width: 179px;
    left: 20px;
    bottom: 65px;
}
}
.contact__button-list {
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    justify-content: center;
    
}

.contact__button-locations {
    font-weight: bold;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border: none;
background: #D41342;
border-radius: 22px;
padding-left: 17px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
}
.contact__button-franchise {
   font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #D41443;
    border: none;
background: white;
border-radius: 22px;
padding-left: 32px;
padding-right: 48px;
padding-top: 10px;
padding-bottom: 10px;

}