* {
    margin: 0;
    padding:0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}
.contact {
    background-color:#FFF5F6;
     width: 100%;
}
.list {
    list-style: none;
    padding: 0 50px;
}
.contact__item {
    background: #FFFFFF;
box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
border-radius: 24px;
margin-bottom: 20px;
}
.cafe {
    background: #F0D1A5;
border-radius: 4px;

}
