* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Titan One', cursive;
}
.footer .container {
  background-color: #fff5f6;
  position: relative;
  min-width: 320px;
  max-width: 480px;
  
}

.footer__title {
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffa5ba;
  max-width: 232px;
  margin-bottom: 17px;
}
.footer__title-second {
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  max-width: 200px;
}
.footer__social-list {
  display: flex;
  padding-left: 147px;
  margin-top: 43px;
  margin-bottom: 46px;
  padding-right: 20px;
}
.footer__social-list-item {
  background: #fea5bb;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  &:not(:last-child) {
    margin-right: 28px;
  }
}
.footer__contact-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
}
.footer__contact-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 186%;
  text-align: right;
  color: #d41443;
  text-decoration: none;
  padding-right: 20px;
}
.copyright {
  
  inline-size: 150px;
  word-break: break-word;
  text-align: center;
 margin-top: 22px;
 padding-bottom: 25px;
}
.copyright__link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #907e82;
  text-decoration: none;
}
.line {
    border: 1px solid #e1e1e1;
    width: 100%;
    margin-top: 43px;
}
