@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', sans-serif;
  --main-color: #000000;
  --secondary-color: #d41443;
  --first-background-color: #ffb8ca;
  --menu-background: #e17992;
  --white-color: #ffffff;
  --customer-color: #FAFAFA;
  --gradient-bars-color: #E1E1E1;
  --dots-color: #C7133E;
  --pagination-dots-color: #D9D9D9;
  --social-link-bg-color: #fea5bb;
  --grey-color: #907e82;
  --contacts-title-bg: #f0d1a5;
  --contacts-title-bg-second: #c2e297;
  --time-table-color: #FFA5BA;
  --contact-button-red-bg: #d41342;
  --central-color: #fff5f6;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-contacts {
  background-color: #FFF5F6;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 86px;
}

.container-footer {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
}

.container-about {
  background-color: var(--central-color);
}

.section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 121px 0px 98px 0px;
}

.section-customer {
  padding: 80px 0px 86px 0px;
}

.section-footer {
  padding: 113px 0px 25px 0px;
  background-color: #FFF5F6;
}

.section-products {
  padding: 121px 0px 98px 0px;
}

.hero-header {
  background-color: #ffb8ca;
}

.mobile-menu {
  background-color: #e17992;
}

.hero-h1__light {
  position: absolute;
  width: 218px;
  height: 106px;
  left: 20px;
  top: 193px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.list {
  list-style: none;
  padding: 0;
}

.products .products__etiquette {
  margin: 0 0 15px 0;
  padding: 0;
  text-align: center;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__etiquette {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
}

.products__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin: 0;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__item {
  width: 280px;
  height: 485px;
  border-radius: 24px;
  padding: 110px 44px 40px 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 180px;
}

.products__item::after {
  content: url(../images/products/3dots.png);
  position: relative;
  top: -240px;
  right: 0;
}

.products__item:nth-child(1) {
  background: #ffb8ca;
}

.products__item:nth-child(1)::before {
  content: url(../images/products/products1.png);
  position: absolute;
  top: -160px;
  right: 4%;
}

.products__item:nth-child(2) {
  background: #f0d1a5;
}

.products__item:nth-child(2)::before {
  content: url(../images/products/products2.png);
  position: absolute;
  top: -160px;
  right: 4%;
}

.products__item:nth-child(3) {
  background: #c2e297;
}

.products__item:nth-child(3)::before {
  content: url(../images/products/products3.png);
  position: absolute;
  top: -160px;
  right: 4%;
}

.products__secondary-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.products__description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 50px;
}

.products__btn {
  width: 40px;
  height: 40px;
  background: url(/images/products/arrow-right.png);
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.advantages {
  padding-top: 39px;
  padding-bottom: 60px;
  background-color: var(--central-color);
}

.advantages__img {
  height: 50px;
}

.grid__number {
  font-family: var(--secondary-font);
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-top: 16px;
  min-height: 56px;
}

.grid__description {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.666;
  max-width: 230px;
  margin-bottom: 38px;
}

.about__title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  padding-left: 50px;
  padding-right: 50px;
}

.about__subtitle {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: #907E82;
}

.customer__picture {
  position: relative;
  top: 7px;
}

.customer__picture::before {
  content: '';
  display: block;
  background-image: url("../images/Customer/special-mark.svg");
  width: 54px;
  height: 40px;
  background-repeat: no-repeat;
  position: absolute;
  top: 146px;
  right: 72px;
  z-index: 0;
}

.customer__text-container {
  background-color: var(--customer-color);
}

.customer__wrapper {
  padding: 3px 16px 0px 7px;
}

.customer__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.584;
  text-align: center;
  color: var(--main-color);
  position: relative;
  z-index: 1;
}

.customer__gradient {
  margin: 40px 50px 20px 50px;
  background: repeating-linear-gradient(to bottom, var(--customer-color), var(--customer-color) 30px, var(--gradient-bars-color) 30px, var(--gradient-bars-color) 31px);
}

.customer__details {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--main-color);
  margin-top: 52px;
}

.dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dots-color);
  position: relative;
  top: 30px;
}

.dot::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dots-color);
  position: absolute;
  left: 10px;
}

.dot::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dots-color);
  position: absolute;
  right: 10px;
}

.main-title {
  display: none;
}

.contact__item {
  background: var(--white-color);
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
  padding-top: 43px;
  padding-bottom: 43px;
  max-width: 220px;
}

.contact__title {
  font-size: 12px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

.contact__secondary-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  padding-left: 20px;
  margin-top: 25px;
}

.contact__title-bg {
  background: var(--contacts-title-bg);
  border-radius: 4px;
  width: 80px;
  margin-left: 20px;
}

.contact__title-bg-foodtruck {
  background: var(--contacts-title-bg-second);
  border-radius: 4px;
  width: 130px;
  margin-left: 20px;
}

.contact__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-color);
  padding: 10px 21px 25px 20px;
  position: relative;
}

.contact__description::after {
  content: "";
  border: 1px solid var(--gradient-bars-color);
  width: 179px;
  position: absolute;
  left: 20px;
  bottom: 0px;
}

.time-table__item {
  margin-bottom: 10px;
  margin-top: 25px;
}

.time-table__day {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: var(--main-color);
  padding-left: 20px;
  position: relative;
}

.time-table__hours {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: var(--time-table-color);
  padding-left: 20px;
}

.bottom-list__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-color);
  text-decoration: none;
  padding-left: 20px;
}

.contact__bottom-list {
  margin-top: 50px;
  position: relative;
}

.contact__bottom-list::before {
  position: absolute;
  content: "";
  border: 1px solid var(--gradient-bars-color);
  width: 179px;
  left: 20px;
  bottom: 65px;
}

.contact__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 54px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__button-locations {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: var(--white-color);
  border: none;
  background: var(--contact-button-red-bg);
  border-radius: 22px;
  padding-left: 17px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact__button-franchise {
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--secondary-color);
  border: none;
  background: var(--white-color);
  border-radius: 22px;
  padding-left: 32px;
  padding-right: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.contact__button-icon {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-top: 7px;
}

.contact__button-icon-red {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-top: 3px;
}

.footer {
  width: 100%;
}

.footer__title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffa5ba;
  max-width: 232px;
  margin-bottom: 17px;
}

.footer__title-second {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-color);
  max-width: 200px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 43px;
  margin-bottom: 46px;
  padding-right: 20px;
}

.footer__social-list-item:not(:last-child) {
  margin-right: 28px;
}

.footer__contact-title {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
}

.footer__contact-link {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 186%;
  text-align: right;
  color: var(--secondary-color);
  text-decoration: none;
  padding-right: 20px;
}

.copyright {
  inline-size: 150px;
  word-break: break-word;
  text-align: center;
  margin-top: 22px;
  padding-bottom: 25px;
}

.container-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright__link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: var(--grey-color);
  text-decoration: none;
}

.line {
  border: 1px solid var(--gradient-bars-color);
  margin-top: 43px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--social-link-bg-color);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.pagination li {
  display: inline-block;
  padding-left: 9px;
  padding-right: 9px;
}

.pagination a {
  visibility: hidden;
  display: inline-block;
  width: 12px;
  position: relative;
  top: 444px;
}

.pagination a:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--pagination-dots-color);
  border-radius: 50%;
  display: inline-block;
  visibility: visible;
  position: relative;
}

.active .page:before {
  background-image: url("../images/Customer/home.svg");
  background-color: white;
}
/*# sourceMappingURL=main.css.map */