@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', sans-serif;
  --main-color: #000000;
  --secondary-color: #d41443;
  --first-background-color: #ffb8ca;
  --menu-background: #e17992;
  --white-color: #ffffff;
  --customer-color: #FAFAFA;
  --gradient-bars-color: #E1E1E1;
  --dots-color: #C7133E;
  --pagination-dots-color: #D9D9D9;
  --social-link-bg-color: #fea5bb;
  --grey-color: #907e82;
  --contacts-title-bg: #f0d1a5;
  --contacts-title-bg-second: #c2e297;
  --time-table-color: #FFA5BA;
  --contact-button-red-bg: #d41342;
  --central-color: #fff5f6;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-contacts {
  background-color: var(--central-color);
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 86px;
}

.container-footer {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
}

.container-about {
  background-color: var(--central-color);
}

.section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 121px 0px 98px 0px;
}

.section-customer {
  padding: 80px 0px 86px 0px;
}

.section-footer {
  padding: 113px 0px 25px 0px;
  background-color: var(--central-color);
}

.section-products {
  padding: 121px 0px 98px 0px;
}

.hero-header {
  background-color: #ffb8ca;
  /*zmienić kolor na var */
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  padding-left: 20px;
  padding-top: 6px;
}

.header-menu {
  padding-left: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  visibility: hidden;
}

.header-menu__link {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  /*zmienic na var */
  text-decoration: none;
}

.header-menu__item--active .header-menu__link {
  color: var(--secondary-color);
}

.main-header__mobile-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu {
  background-color: #e17992;
  /* zmienic na var */
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 21px;
  padding-bottom: 185px;
  margin-top: 0;
  -webkit-filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1), visibility 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1), visibility 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mobile-menu__item-menu:not(:last-child) {
  padding-bottom: 23px;
}

.mobile-menu__item--active .mobile-menu__link {
  color: var(--secondary-color);
}

.mobile-menu__item-menu {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  /*zmienic na var */
}

.mobile-menu__link {
  text-decoration: none;
}

.mobile-menu__item-btn {
  font-family: var(--main-font);
  height: 44px;
  width: 209px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.302;
  color: var(--secondary-color);
  background-color: #fff;
  /*zmienic na var */
  border-radius: 22px;
  margin-top: 60px;
  margin-left: 21px;
  margin-right: 20px;
  margin-bottom: 32px;
  border: none;
  padding: 14 69 14 49;
}

.mobile-menu__item-btn:hover,
.mobile-menu__item-btn:focus {
  background-color: #ecebeb;
  /*dodać do var */
}

.mobile-menu__close-btn {
  position: absolute;
  top: 23px;
  right: 28px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.hero {
  margin-top: 99px;
}

.hero__h1 {
  text-transform: uppercase;
  position: absolute;
  left: 20px;
  top: 193px;
  z-index: 3;
  margin-top: 0;
  margin-bottom: 0;
}

.hero__h1-light {
  font-family: 'Titan One', sans-serif;
  /*zmienic na var */
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 0.04;
  line-height: 1.145;
  color: #fff;
  /* zmienic na var */
}

.hero__h1-dark {
  font-family: 'Titan One', sans-serif;
  /*zmienic na var */
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.04;
  line-height: 0.955;
  color: #d41443;
  /*zmienic na var */
}

.hero__buttons {
  margin-top: 223px;
  padding-bottom: 161px;
  /*gdzieś z przybliżeń wyszło za mało więc dodałam tu 1px */
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.hero__btn-hero-products {
  position: absolute;
  z-index: 3;
}

.hero__btn-hero-made {
  position: absolute;
  left: 90px;
  z-index: 3;
}

.hero__btn-hero-item {
  background-color: #fff;
  /*zmienic na var */
  border: none;
  border-radius: 20px;
  font-family: 'DM Sans', sans-serif;
  /*zmienic na var */
  color: #d41443;
  /*zmienic na var */
  font-size: 8px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 9px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 9px;
}

.hero__btn-hero-item:hover,
.hero__btn-hero-item:focus {
  color: #fff;
  /*zmienic na var */
  background-color: #d41443;
  /*zmienic na var */
}

.bg-image {
  position: absolute;
  right: 32px;
  top: 92px;
  z-index: 2;
}

.bg-circle {
  background: #ffa5ba;
  border: none;
  border-radius: 50%;
  position: absolute;
  width: 346px;
  height: 344px;
  left: 36px;
  top: 83px;
  z-index: 1;
}

.list {
  list-style: none;
  padding: 0;
}

.products .products__etiquette {
  margin: 0 0 15px 0;
  padding: 0;
  text-align: center;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__etiquette {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
}

.products__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin: 0;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__item {
  width: 280px;
  height: 485px;
  border-radius: 24px;
  padding: 110px 44px 40px 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 180px;
}

.products__item::after {
  content: url(../images/products/3dots.png);
  position: relative;
  top: -240px;
  right: 0;
}

.products__item:nth-child(1) {
  background: #ffb8ca;
}

.products__item:nth-child(1)::before {
  content: url(../images/products/products1.png);
  position: absolute;
  top: -160px;
  right: 4%;
}

.products__item:nth-child(2) {
  background: #f0d1a5;
}

.products__item:nth-child(2)::before {
  content: url(../images/products/products2.png);
  position: absolute;
  top: -160px;
  right: 4%;
}

.products__item:nth-child(3) {
  background: #c2e297;
}

.products__item:nth-child(3)::before {
  content: url(../images/products/products3.png);
  position: absolute;
  top: -160px;
  right: 4%;
}

.products__secondary-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.products__description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 50px;
}

.products__btn {
  width: 40px;
  height: 40px;
  background: url(/images/products/arrow-right.png);
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.advantages {
  padding-top: 39px;
  padding-bottom: 60px;
  background-color: var(--central-color);
}

.advantages__img {
  height: 50px;
}

.grid__number {
  font-family: var(--secondary-font);
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-top: 16px;
  min-height: 56px;
}

.grid__description {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.666;
  max-width: 230px;
  margin-bottom: 38px;
}

.about {
  background-color: var(--central-color);
  padding-top: 125px;
}

.about__title {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  padding-left: 41px;
  padding-right: 41px;
  color: #ffa5ba;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.about__subtitle {
  font-family: var(--secondary-font);
  font-size: 34px;
  line-height: 1.147;
  padding-left: 39px;
  padding-right: 39px;
  color: var(--secondary-color);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 26px;
}

.about__description {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 46px;
  margin-bottom: 27px;
}

.about__comment {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: #907E82;
  padding-left: 30px;
  padding-right: 30px;
}

.about-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 42px;
  padding-right: 29px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--secondary-color);
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 22px;
  cursor: pointer;
  margin-top: 17px;
  margin-left: 30px;
}

.about-btn__icon {
  width: 10px;
  height: 10px;
  margin-left: 19px;
  margin-top: 2px;
}

.customer__picture {
  position: relative;
  top: 7px;
}

.customer__picture::before {
  content: '';
  display: block;
  background-image: url("../images/Customer/special-mark.svg");
  width: 54px;
  height: 40px;
  background-repeat: no-repeat;
  position: absolute;
  top: 146px;
  right: 72px;
  z-index: 0;
}

.customer__text-container {
  background-color: var(--customer-color);
}

.customer__wrapper {
  padding: 3px 16px 0px 7px;
}

.customer__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.584;
  text-align: center;
  color: var(--main-color);
  position: relative;
  z-index: 1;
}

.customer__gradient {
  margin: 40px 50px 20px 50px;
  background: repeating-linear-gradient(to bottom, var(--customer-color), var(--customer-color) 30px, var(--gradient-bars-color) 30px, var(--gradient-bars-color) 31px);
}

.customer__details {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--main-color);
  margin-top: 52px;
}

.dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dots-color);
  position: relative;
  top: 30px;
}

.dot::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dots-color);
  position: absolute;
  left: 10px;
}

.dot::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dots-color);
  position: absolute;
  right: 10px;
}

.main-title {
  display: none;
}

.contact__item {
  background: var(--white-color);
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
  padding-top: 43px;
  padding-bottom: 43px;
  max-width: 220px;
}

.contact__title {
  font-size: 12px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

.contact__secondary-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  padding-left: 20px;
  margin-top: 25px;
}

.contact__title-bg {
  background: var(--contacts-title-bg);
  border-radius: 4px;
  width: 80px;
  margin-left: 20px;
}

.contact__title-bg-foodtruck {
  background: var(--contacts-title-bg-second);
  border-radius: 4px;
  width: 130px;
  margin-left: 20px;
}

.contact__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-color);
  padding: 10px 21px 25px 20px;
  position: relative;
}

.contact__description::after {
  content: "";
  border: 1px solid var(--gradient-bars-color);
  width: 179px;
  position: absolute;
  left: 20px;
  bottom: 0px;
}

.time-table__item {
  margin-bottom: 10px;
  margin-top: 25px;
}

.time-table__day {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: var(--main-color);
  padding-left: 20px;
  position: relative;
}

.time-table__hours {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: var(--time-table-color);
  padding-left: 20px;
}

.bottom-list__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-color);
  text-decoration: none;
  padding-left: 20px;
}

.contact__bottom-list {
  margin-top: 50px;
  position: relative;
}

.contact__bottom-list::before {
  position: absolute;
  content: "";
  border: 1px solid var(--gradient-bars-color);
  width: 179px;
  left: 20px;
  bottom: 65px;
}

.contact__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 54px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__button-locations {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: var(--white-color);
  border: none;
  background: var(--contact-button-red-bg);
  border-radius: 22px;
  padding-left: 17px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact__button-franchise {
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--secondary-color);
  border: none;
  background: var(--white-color);
  border-radius: 22px;
  padding-left: 32px;
  padding-right: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.contact__button-icon {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-top: 7px;
}

.contact__button-icon-red {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-top: 3px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__item {
    margin-right: 20px;
  }
  .contact__item-last {
    margin-right: 0px;
  }
  .contact__button-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__button-franchise {
    margin-left: 15px;
    margin-top: 0px;
  }
}

.footer {
  width: 100%;
}

.footer__title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--time-table-color);
  max-width: 232px;
  margin-bottom: 17px;
}

.footer__title-second {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-color);
  max-width: 200px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 43px;
  margin-bottom: 46px;
  padding-right: 20px;
}

.footer__social-list-item:not(:last-child) {
  margin-right: 28px;
}

.footer__contact-title {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
}

.footer__contact-link {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 186%;
  text-align: right;
  color: var(--secondary-color);
  text-decoration: none;
  padding-right: 20px;
}

.copyright {
  inline-size: 150px;
  word-break: break-word;
  text-align: center;
  margin-top: 22px;
  padding-bottom: 25px;
}

.container-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright__link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: var(--grey-color);
  text-decoration: none;
}

.line {
  border: 1px solid var(--gradient-bars-color);
  margin-top: 43px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--social-link-bg-color);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__right-side {
    margin-top: -50px;
  }
  .copyright {
    inline-size: initial;
    word-break: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0px;
  }
  .social-list__link {
    width: 34px;
    height: 34px;
  }
  .footer__title {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    max-width: 340px;
    margin-bottom: 16px;
  }
  .footer__title-second {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.06em;
  }
  .footer__contact-title {
    font-size: 14px;
    line-height: 186%;
  }
}

.pagination li {
  display: inline-block;
  padding-left: 9px;
  padding-right: 9px;
}

.pagination a {
  visibility: hidden;
  display: inline-block;
  width: 12px;
  position: relative;
  top: 444px;
}

.pagination a:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--pagination-dots-color);
  border-radius: 50%;
  display: inline-block;
  visibility: visible;
  position: relative;
}

.active .page:before {
  background-image: url("../images/Customer/home.svg");
  background-color: white;
}
/*# sourceMappingURL=main.css.map */