:root {
  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', sans-serif;
  --main-color: #000000;
  --secondary-color: #d41443;
  --first-background-color: #ffb8ca;
  --menu-background: #e17992;
  --white-color: #ffffff;
  --customer-color: #fafafa;
  --gradient-bars-color: #e1e1e1;
  --dots-color: #c7133e;
  --pagination-dots-color: #d9d9d9;
  --social-link-bg-color: #fea5bb;
  --grey-color: #907e82;
  --contacts-title-bg: #f0d1a5;
  --contacts-title-bg-second: #c2e297;
  --time-table-color: #ffa5ba;
  --contact-button-red-bg: #d41342;
  --central-color: #fff5f6;
  --mobile-menu-border: #e18298;
  --btn-color: #ECEBEB;
  --bg-gradient: #E5E5E5;
}
