:root {
  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', sans-serif;
  --main-color: #000000;
  --secondary-color: #d41443;
  --first-background-color: #ffb8ca;
  --menu-background: #e17992;
  --white-color: #ffffff;
}
