:root {
  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', sans-serif;
  --main-color: #000000;
  --secondary-color: #d41443;
  --first-background-color: #ffb8ca;
  --menu-background: #e17992;
  --white-color: #ffffff;
  --central-color: #fff5f6;
  --customer-color: #FAFAFA;
  --gradient-bars-color: #E1E1E1;
  --dots-color: #C7133E;
  --pagination-dots-color: #D9D9D9;
}

