<!-- ------  ABOUT  ------>
<section class="section section-about" id="about">
  <div class="container container-about">
    <p class="about__label">tradition and love</p>
    <h3 class="about__title">how it's made</h3>
    <article class="about__article">
      <div class="about__left-side">
        <picture>
          <source srcset="./images/about/about-desktop-img.webp 1x,
          ./images/about/about-desktop-img@2x.webp 2x" media="(min-width: 1200px)"
          type=images/webp/>
          <source
            srcset="
              ./images/about/about-desktop-img.png    1x,
              ./images/about/about-desktop-img@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source srcset="./images/about/about-tablet-img.webp 1x,
          ./images/about/about-tablet-img@2x.webp 2x" media="(min-width: 768px)" type=images/webp/>
          <source
            srcset="
              ./images/about/about-tablet-img.png    1x,
              ./images/about/about-tablet-img@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source srcset="./images/about/about-img.webp 1x, ./images/about/about-img@2x.webp 2x"
          media="(min-width: 320px)" type=images/webp/>
          <source
            srcset="./images/about/about-img.png 1x, ./images/about/about-img@2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            class="about__img"
            src="./images/about/about-img.png"
            alt="krowa z dzbankiem mleka"
          />
        </picture>
      </div>
      <div class="about__right-side">
        <p class="about__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam&nbsp;vel justo cursus,
          faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__comment">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
          orci&nbsp;in imperdiet placerat. Vestibulum euismod nisl&nbsp;suscipit ligula volutpat, a
          feugiat urna maximus. Cras massa nibh, tincidunt.&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p class="about__comment"><br />Aliquam erat volutpat. Aenean accumsan.</p>
        <div data-modal-more-open>
          <button class="about-btn" type="button">
            <span> Read more </span>
            <svg class="about-btn__icon">
              <use href="/images/about/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>
        </div>
      </div>
      <picture class="about-bg">
        <source srcset="./images/about/about-sectionbg.webp 1x,
        ./images/about/about-sectionbg@2x.webp 2x" type=images/webp/>
        <source
          srcset="./images/about/about-sectionbg.png 1x, ./images/about/about-sectionbg@2x.png 2x"
        />
        <img src="./images/about/about-sectionbg.png" alt="rozlane mleko" />
      </picture>
    </article>
  </div>
</section>
