<!-- ------  ADVANTAGES  ------>
<!-- <section class="section section-advantages">
  <div class="container container-advantages">
    <h3 hidden class="advantages__title">Advantages</h3>
    <ul class="grid list">
      <li class="grid__card">
        <picture>
          <source srcset="./images/advantages/advantages-icon-1.webp 1x,
          ./images/advantages/advantages-icon-1@2x.webp 2x" type=images/webp/>
          <source
            srcset="
              ./images/advantages/advantages-icon-1.png    1x,
              ./images/advantages/advantages-icon-1@2x.png 2x
            "
          />
          <img class="grid__img" src="./images/advantages/advantages-icon-1.png" alt="mleko" />
        </picture>
        <h4 class="grid__number">721</h4>
        <p class="grid__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="grid__card">
        <picture>
          <source srcset="./images/advantages/advantages-icon-2.webp 1x,
          ./images/advantages/advantages-icon-2@2x.webp 2x" type=images/webp/>
          <source
            srcset="
              ./images/advantages/advantages-icon-2.png    1x,
              ./images/advantages/advantages-icon-2@2x.png 2x
            "
          />
          <img class="grid__img" src="./images/advantages/advantages-icon-2.png" alt="jablka" />
        </picture>
        <h4 class="grid__number">16kg</h4>
        <p class="grid__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="grid__card">
        <picture>
          <source srcset="./images/advantages/advantages-icon-3.webp 1x,
          ./images/advantages/advantages-icon-3@2x.webp 2x" type=images/webp/>
          <source
            srcset="
              ./images/advantages/advantages-icon-3.png    1x,
              ./images/advantages/advantages-icon-3@2x.png 2x"
          />
          <img class="grid__img" src="./images/advantages/advantages-icon-3.png" alt="serce" />
        </picture>
        <h4 class="grid__number">84</h4>
        <p class="grid__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section> -->

<!-- ///////////////////////////////////////////// -->

<section class="section section-advantages">
  <div class="container container-advantages">
    <h3 hidden class="advantages__title">Advantages</h3>
    <ul class="grid list">
      <li class="grid__card">
        <!-- <picture>
          <source srcset="./images/advantages/advantages-icon-1.webp 1x,
          ./images/advantages/advantages-icon-1@2x.webp 2x" type=images/webp/>
          <source
            srcset="
              ./images/advantages/advantages-icon-1.png    1x,
              ./images/advantages/advantages-icon-1@2x.png 2x
            "
          />
          <img class="grid__img" src="./images/advantages/advantages-icon-1.png" alt="mleko" />
        </picture> -->
        <h4 class="grid__number grid__icon-1">721</h4>
        <p class="grid__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="grid__card">
        <!-- <picture>
          <source srcset="./images/advantages/advantages-icon-2.webp 1x,
          ./images/advantages/advantages-icon-2@2x.webp 2x" type=images/webp/>
          <source
            srcset="
              ./images/advantages/advantages-icon-2.png    1x,
              ./images/advantages/advantages-icon-2@2x.png 2x
            "
          />
          <img class="grid__img" src="./images/advantages/advantages-icon-2.png" alt="jablka" />
        </picture> -->
        <h4 class="grid__number grid__icon-2">16kg</h4>
        <p class="grid__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="grid__card">
        <!-- <picture>
          <source srcset="./images/advantages/advantages-icon-3.webp 1x,
          ./images/advantages/advantages-icon-3@2x.webp 2x" type=images/webp/>
          <source
            srcset="
              ./images/advantages/advantages-icon-3.png    1x,
              ./images/advantages/advantages-icon-3@2x.png 2x"
          />
          <img class="grid__img" src="./images/advantages/advantages-icon-3.png" alt="serce" />
        </picture> -->
        <h4 class="grid__number grid__icon-3">84</h4>
        <p class="grid__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
