<!-- ------  ADVANTAGES  ------>

<section class="section section-advantages" id="advantages">
  <div class="container container-advantages">
    <h3 hidden class="advantages__title">Advantages</h3>
    <ul class="grid list">
      <li class="grid__card">
        <h4 class="grid__number grid__icon-1">721</h4>
        <p class="grid__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="grid__card">
        <h4 class="grid__number grid__icon-2">16kg</h4>
        <p class="grid__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="grid__card">
        <h4 class="grid__number grid__icon-3">84</h4>
        <p class="grid__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
