<!-- ------  ADVANTAGES  ------>
<section class="advantages">
    <h3 class="advantages__title">Advantages - ukryty Nagłówek</h3>
    <ul class="advantages__list">
        <li class="advantages__card"> 
            <picture>
                <source
                    srcset="./images/advantages/advantages-icon-1.webp 1x, ./images/advantages/advantages-icon-1@2x.webp 2x"
                    media="(min-width: 320px)" type=images/webp/>
                <source
                    srcset="./images/advantages/advantages-icon-1.png 1x, ./images/advantages/advantages-icon-1@2x.png 2x"
                    media="(min-width: 320px)"/>
                <img class="advantages__img"
                    src="./images/advantages/advantages-icon-1.png" 
                    alt="mleko" 
                    width="33" height="50">
            </picture>
            <h4 class="advantages__number">721</h4>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__card"> 
            <picture>
                <source
                    srcset="./images/advantages/advantages-icon-2.webp 1x, ./images/advantages/advantages-icon-2@2x.webp 2x"
                    media="(min-width: 320px)" type=images/webp/>
                <source
                    srcset="./images/advantages/advantages-icon-2.png 1x, ./images/advantages/advantages-icon-2@2x.png 2x"
                    media="(min-width: 320px)"/>
                <img class="advantages__img"
                    src="./images/advantages/advantages-icon-2.png" 
                    alt="jablka" 
                    width="50" height="50">
            </picture>
            <h4 class="advantages__number">16kg</h4>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>            
        <li class="advantages__card"> 
            <picture>
                <source
                    srcset="./images/advantages/advantages-icon-3.webp 1x, ./images/advantages/advantages-icon-3@2x.webp 2x"
                    media="(min-width: 320px)" type=images/webp/>
                <source
                    srcset="./images/advantages/advantages-icon-3.png 1x, ./images/advantages/advantages-icon-3@2x.png 2x"
                    media="(min-width: 320px)"/>
                <img class="advantages__img"
                    src="./images/advantages/advantages-icon-3.png" 
                    alt="serce" 
                    width="44" height="50">
            </picture>
            <h4 class="advantages__number">84</h4>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>            
    </ul>
</section> 