<section class="section section-customer" id="customer">
  <div class="container container-customer">
    <picture class="customer__picture">
      <div id="test-list">
        <ul class="list">
          <li>
            <source srcset="./images/Customer/Customer-img-1.webp 1x,
            ./images/Customer/Customer-img-1@2x.webp 2x" media="(min-width: 320px)"
            type=images/webp>

            <source
              srcset="
                ./images/Customer/Customer-img-1.png    1x,
                ./images/Customer/Customer-img-1@2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="customer__img"
              src="./images/Customer/Customer-img-1.png"
              alt="Kobieta z kręconymi włosami uśmiecha się"
            />
          </li>

          <li>
            <source srcset="./images/Customer/Customer-img-2.webp 1x,
            ./images/Customer/Customer-img-2@2x.webp 2x" media="(min-width: 320px)"
            type=images/webp>

            <source
              srcset="
                ./images/Customer/Customer-img-2.png    1x,
                ./images/Customer/Customer-img-2@2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="customer__img"
              src="./images/Customer/Customer-img-2.png"
              alt="Ciemnoskóra kobieta macha ręką"
            />
          </li>

          <li>
            <source srcset="./images/Customer/Customer-img-3.webp 1x,
            ./images/Customer/Customer-img-3@2x.webp 2x" media="(min-width: 320px)"
            type=images/webp>

            <source
              srcset="
                ./images/Customer/Customer-img-3.png    1x,
                ./images/Customer/Customer-img-1@2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="customer__img"
              src="./images/Customer/Customer-img-3.png"
              alt="Kobieta w okularach podtrzymuje głowę ręką"
            />
          </li>
        </ul>
        <ul class="pagination"></ul>
      </div>
    </picture>

    <div class="customer__text-container">
      <div class="customer__gradient">
        <div class="customer__wrapper">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
    </div>
    <div class="dot"></div>
    <h3 class="customer__details">Emily, Los Angeles</h3>
  </div>
</section>
