<section class="footer">
<div class="container">
  <div class="footer__left-side">
    <p class="footer__title">homemade ice cream made </p>
    <p class="footer__title-second">with passion</p>
  </div>
  <div class="footer__right-side">
    <ul class="footer__social-list">
      <li class="footer__social-list-item">
       
      </li>
      <li class="footer__social-list-item">
        
      </li>
      <li class="footer__social-list-item">
      
      </li>
    </ul>
    <p class="footer__contact-title">Feel free to contact 
      <a class="footer__contact-link" href="telto:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
    </p>
  </div>
  <div class="line">

  </div>
  <div class="copyright">
    <a class="copyright__link" href="#">
      © 2019 - IceCream.
All Rights Reserved. 
    </a>
  </div>
</div>
</section>