<div class="hamburger-menu">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
      <div class="navbar">
      <nav>
      
        <ul class="nav list">
          <li class="nav__item">
            <a class="nav__link nav__link--active" href="">Agencja</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="">Portfolio</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Kontakt</a>
          </li>
        </ul>
      </nav>