<section class="hero-header">
    <header class="main-header">
        <div class="container">
            <nav class="navigation">
                <a class="logo" href=#>
                    <picture>
                        <source srcset="./images/Hero_Header/header-logo-mobile.webp 1x, ./images/Hero_Header/header-logo-mobile@2x.webp 2x" type="image/webp" media="(min-width: 320px)" />
                        <source srcset="./images/Hero_Header/header-logo-mobile.png 1x, ./images/Hero_Header/header-logo-mobile@2x.png 2x" media="(min-width: 320px)" />
                        <img class="logo__img" src="./images/Hero_Header/header-logo-mobile.png" alt="logo">
                    </picture>
                </a>
                <ul class="header-menu list">
                    <li class="header-menu__item header-menu__item--active">
                        <a class="header-menu__link" href="#">
                            Home
                        </a>
                    </li>
                    <li class="header-menu__item">
                        <a class="header-menu__link" href="#">
                            About us
                        </a>
                    </li>
                    <li class="header-menu__item">
                        <a class="header-menu__link" href="#">
                            How it's made?
                        </a>
                    </li>
                    <li class="header-menu__item">
                        <a class="header-menu__link" href="#">
                            Our products
                        </a>
                    </li>
                    <li class="header-menu__item">
                        <a class="header-menu__link" href="#">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <button class="main-header__mobile-menu" type="button" data-mobile-menu-open>
                <svg class="main-header__mobile-menu-icon" width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H20" stroke="#D41443" />
                    <path d="M0 7H20" stroke="#D41443" />
                    <path d="M0 13H20" stroke="#D41443" />
                </svg>
        </button>
        <div class="mobile-menu is-hidden" data-mobile-menu>
                <button type="button" class="mobile-menu__close-btn" data-mobile-menu-close>
                    <svg class="mobile-menu__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.25928 1L14.7408 15" stroke="white" />
                        <path d="M1 14.7407L15 1.25924" stroke="white" />
                    </svg>
                </button>
            <ul class="mobile-menu list">
                <li class="mobile-menu__item">
                    <button type="button" class="mobile-menu__item-btn">
                        Buy now
                        <svg class="mobile-menu__item-icon" width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.10693 1L6.3648 5L1.10693 9" stroke="#D41443" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                </li>
                <li class="mobile-menu__item-menu mobile-menu__item--active">
                    <a class="mobile-menu__link" href="./index.html">Home</a>
                </li>
                <li class="mobile-menu__item-menu mobile-menu__item--active">
                    <a class="mobile-menu__link" href="#">About us</a>
                </li>
                <li class="mobile-menu__item-menu mobile-menu__item--active">
                    <a class="mobile-menu__link" href="#">How it's made?</a>
                </li>
                <li class="mobile-menu__item-menu mobile-menu__item--active">
                    <a class="mobile-menu__link" href="#">Our products</a>
                </li>
                <li class="mobile-menu__item-menu mobile-menu__item--active">
                    <a class="mobile-menu__link mobile-menu__link-contact" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </header>
    
        <div class="hero">
            <h1 class="hero__h1"><span class="hero__h1-light">ice cream<br>made with</span><br><span class="hero__h1-dark">passion</span></h1>
        </div>
        <div class="hero__buttons">
            <ul class="hero__btn list">
                <li class="hero__btn-hero">
                    <button class="hero__btn-hero-item hero__btn-hero-products">
                        Products
                    </button>
                </li>
                <li class="hero__btn-hero">
                    <button class="hero__btn-hero-item hero__btn-hero-made">
                        How it's made?
                    </button>
                </li>
            </ul>
        </div>
        <div class="bg-image">
            <picture>
                <source srcset="./images/Hero_Header/hero-ice-cream-mobile.webp 1x, ./images/Hero_Header/hero-ice-cream-mobile@2x.webp 2x" type="image/webp" media="(min-width: 320px)" />
                <source srcset="./images/Hero_Header/hero-ice-cream-mobile.png 1x, ./images/Hero_Header/hero-ice-cream-mobile@2x.png 2x" media="(min-width: 320px)" />
                <img class="bg-image__source" src="./images/Hero_Header/hero-ice-cream-mobile.png" alt="ice-cream">
            </picture>
        </div>
        <div class="bg-circle">
        </div>
</section>