<section class="products">
    <p class="products__etiquette">100% NATURAL</p>
    <h3 class="products__title">PRODUCTS</h3>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__secondary-title">ICE CREAM</h3>
        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et. 
          dolore magna aliqua facilisis.
        </p>
        <button class="products__button" type="button">
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__secondary-title">ICE COFFEE</h3>
        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et. 
          dolore magna aliqua facilisis.
        </p>
        <button class="products__button" type="button">
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__secondary-title">MILK SHAKES</h3>
        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et. 
          dolore magna aliqua facilisis.
        </p>
        <button class="products__button" type="button"></button>
      </li>
    </ul>
  </section>