<section class="products">
    <p class="products__etiquette">100% NATURAL</p>
    <h3 class="products__title">PRODUCTS</h3>
    <ul class="examples list">
      <li class="examples__item">
        <picture>
          <source srcset="./images/products/products1.webp 1x, ./images/products/products1@2x.webp 2x" type="image/webp" media="(min-width: 320px)" />
          <source srcset="./images/products/products1.png 1x, ./images/products/products1@2x.png 2x" media="(min-width: 320px)" />
          <img class="products__img" src="./images/products/products1.png" alt="ICE CREAM">
        </picture>
        <h3 class="examples__title">ICE CREAM</h3>
        <svg width="26" height="6" viewBox="0 0 26 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="13" cy="3" r="3" fill="white"/>
          <circle cx="3" cy="3" r="3" fill="white"/>
          <circle cx="23" cy="3" r="3" fill="white"/>
        </svg>
        <p class="examples__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et. 
          dolore magna aliqua facilisis.
        </p>
        <button class="examples__button" type="button">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>examplesbutton</title>
            <path d="M0 0h32v32h-32v-32z"></path>
          </svg>
        </button>
      </li>
      <li class="examples__item">
        <picture>
          <source srcset="./images/products/products2.webp 1x, ./images/products/products2@2x.webp 2x" type="image/webp" media="(min-width: 320px)" />
          <source srcset="./images/products/products2.png 1x, ./images/products/products2@2x.png 2x" media="(min-width: 320px)" />
          <img class="examples__img" src="./images/products/products2.png" alt="ICE COFFEE">
        </picture>
        <h3 class="examples__title">ICE COFFEE</h3>
        <svg width="26" height="6" viewBox="0 0 26 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="13" cy="3" r="3" fill="white"/>
          <circle cx="3" cy="3" r="3" fill="white"/>
          <circle cx="23" cy="3" r="3" fill="white"/>
        </svg>
        <p class="examples__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et. 
          dolore magna aliqua facilisis.
        </p>
        <button class="examples__button" type="button">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>examplesbutton</title>
            <path d="M0 0h32v32h-32v-32z"></path>
          </svg>
        </button>
      </li>
      <li class="examples__item">
        <picture>
          <source srcset="./images/products/products3.webp 1x, ./images/products/products3@2x.webp 2x" type="image/webp" media="(min-width: 320px)" />
          <source srcset="./images/products/products3.png 1x, ./images/products/products3@2x.png 2x" media="(min-width: 320px)" />
          <img class="products__img" src="./images/products/products3.png" alt="MILK SHAKES">
        </picture>
        <h3 class="examples__title">MILK SHAKES</h3>
        <svg width="26" height="6" viewBox="0 0 26 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="13" cy="3" r="3" fill="white"/>
          <circle cx="3" cy="3" r="3" fill="white"/>
          <circle cx="23" cy="3" r="3" fill="white"/>
        </svg>
        <p class="examples__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et. 
          dolore magna aliqua facilisis.
        </p>
        <button class="examples__button" type="button">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>examplesbutton</title>
            <path d="M0 0h32v32h-32v-32z"></path>
            </svg>
        </button>
      </li>
    </ul>
  </section>