.pagination li {
  display: inline-block;
  padding-left: 9px;
  padding-right: 9px;
}

.pagination a {
  visibility: hidden;
  display: inline-block;
  width: 12px;
  position: relative;
  top: 444px;
}

.pagination a:before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--pagination-dots-color);
  border-radius: 50%;
  display: inline-block;
  visibility: visible;
  position: relative;
}

.active .page:before {
  background-image: url('../images/Customer/home.svg');
  background-color: white;
}

@media screen and (min-width: 480px){
  .pagination a {
  top: 340px;
}
}

// --------------------------- TABLET ------------------------------ //

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pagination a {
    top: 285px;
  }
}

// --------------------------- DESKTOP ------------------------------ //

@media screen and (min-width: 1200px){
.pagination a {
    top: 253px;
  }

}