// tego nie mogę sprawdzić czy dobrze działa, bo nie widze zmian.

// już działa :)
// dodałem do twojego html też sekcje container i section, tak jak w pozostałych html ;)
// odkumentuj sobie w index.html swoją sekcję, wyłączyłem ją narazie, bo psuła layout / Patryk

.about__title{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.583;
    padding-left: 50px;
    padding-right: 50px;
}

.about__subtitle{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.583;
    color: #907E82;
}