.grid {
    &__img{
        height: 50px;
    }
    
    &__number{
        font-family: var(--secondary-font);
        font-size: 36px;
        line-height: 1.138;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--secondary-color);
        margin-top: 16px;
        min-height: 56px;;
    }
    
    &__description{
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 12px;
        line-height: 1.666;
        max-width: 230px;
        margin-bottom: 38px;
    }
}



// --------------------------- TABLET ------------------------------ //
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .grid{
        display: flex;
        gap: 60px;
        
        &__number{
            font-size: 48px;
            line-height: 1.145;
            margin-top: 36px;
            margin-bottom: 13px;
        }
        
        &__description{
            font-size: 14px;
            line-height: 1.714;
            margin-bottom: 0px;
        }
    }

}





