.grid {
  &__img {
    height: 50px;
  }

  &__number {
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 1.138;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--secondary-color);
    padding-top: 104px;
    min-height: 160px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 39px;
      width: 100%;
      height: 50px;
      background-repeat: no-repeat;
    }
  }

  &__icon-1::before {
    background-image: url('../images/advantages/advantages-icon-1.png');
  }

  &__icon-2::before {
    background-image: url('../images/advantages/advantages-icon-2.png');
  }

  &__icon-3::before {
    background-image: url('../images/advantages/advantages-icon-3.png');
  }

  &__description {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.666;
    max-width: 230px;
    margin-top: 0px;
    margin-bottom: 0;
  }
}

// --------------------------- MOBILE ------------------------------ //
@media screen and (min-width: 480px) and (max-width: 767px) {
  .grid {
    &__number {
      font-size: 40px;
      line-height: 1.138;
      margin-top: 20px;
      margin-bottom: 14px;
    }

    &__description {
      font-size: 13px;
      line-height: 1.666;
      margin-bottom: 30px;
    }
  }
}

// --------------------------- TABLET ------------------------------ //
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .grid {
    display: flex;
    gap: 60px;

    &__number {
      font-size: 48px;
      line-height: 1.145;
      padding-top: 152px;
      min-height: 208px;

      &::before {
        top: 66px;
      }
    }

    &__description {
      font-size: 14px;
      line-height: 1.714;
      margin-top: 13px;
      margin-bottom: 0px;
    }
  }
}

// --------------------------- DESKTOP ------------------------------ //
@media screen and (min-width: 1280px) {
  .grid {
    display: flex;
    gap: 30px;

    &__number {
      font-size: 58px;
      line-height: 1.137;
      padding-top: 129px;
      min-height: 194px;

      &::before {
        top: 39px;
      }
    }

    &__description {
      font-size: 16px;
      line-height: 1.75;
      margin-top: 15px;
      min-width: 330px;
    }
  }
}
