.advantages{
    padding-top: 39px;
    padding-bottom: 60px;
    background-color: var(--central-color);
}
.advantages__img{
    height: 50px;
}

.grid__number{
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 1.138;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-top: 16px;
    min-height: 56px;;
}

.grid__description{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.666;
    max-width: 230px;
    margin-bottom: 38px;
}



