.customer{

    &__picture{
        padding-bottom: 18px;
    }

    &__text-container{
        background-color: var(--customer-color);
    }

    &__wrapper{
        padding: 3px 16px 0px 7px;
    }

    &__text{
    font-weight: 500;
    font-size: 12px;
    line-height: 2.584;
    text-align: center;
    color: var(--main-color);
    }

    &__gradient{
        margin: 40px 50px 20px 50px;
        background:repeating-linear-gradient(to bottom,var(--customer-color), var(--customer-color) 30px, var(--gradient-bars-color) 30px, var(--gradient-bars-color) 31px);
    }

    &__details{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: var(--main-color);
    margin-top: 52px;
    }
    
}