.hero-header {
  background-color: #ffb8ca; /*zmienić kolor na var */
}

.navigation {
  display: flex;
}

.logo__img {
  padding-left: 20px;
  padding-top: 6px;
}

.header-menu {
  padding-left: 110px;
  display: flex;
  gap: 35px;
  visibility: hidden;
}

.header-menu__link {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #fff; /*zmienic na var */
  text-decoration: none;
}

.header-menu__item--active .header-menu__link {
  color: var(--secondary-color);
}

.main-header__mobile-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu {
  background-color: #e17992; /* zmienic na var */
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 21px;
  padding-bottom: 185px;
  margin-top: 0;
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1),
    visibility 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mobile-menu__item-menu:not(:last-child) {
  padding-bottom: 23px;
}

.mobile-menu__item--active .mobile-menu__link {
  color: var(--secondary-color);
}

.mobile-menu__item-menu {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #fff; /*zmienic na var */
}

.mobile-menu__link {
  text-decoration: none;
}

.mobile-menu__item-btn {
  font-family: var(--main-font);
  height: 44px;
  width: 209px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.302;
  color: var(--secondary-color);
  background-color: #fff; /*zmienic na var */
  border-radius: 22px;
  margin-top: 60px;
  margin-left: 21px;
  margin-right: 20px;
  margin-bottom: 32px;
  border: none;
  padding: 14 69 14 49;
}

.mobile-menu__item-btn:hover,
.mobile-menu__item-btn:focus {
  background-color: #ecebeb; /*dodać do var */
}

.mobile-menu__close-btn {
  position: absolute;
  top: 23px;
  right: 28px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.hero {
  margin-top: 99px;
}

.hero__h1 {
  text-transform: uppercase;
  position: absolute;
  left: 20px;
  top: 193px;
  z-index: 3;
  margin-top: 0;
  margin-bottom: 0;
}

.hero__h1-light {
  font-family: 'Titan One', sans-serif; /*zmienic na var */
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 0.04;
  line-height: 1.145;
  color: #fff; /* zmienic na var */
}

.hero__h1-dark {
  font-family: 'Titan One', sans-serif; /*zmienic na var */
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.04;
  line-height: 0.955;
  color: #d41443; /*zmienic na var */
}

.hero__buttons {
  margin-top: 223px;
  padding-bottom: 161px; /*gdzieś z przybliżeń wyszło za mało więc dodałam tu 1px */
}

.hero__btn {
  display: flex;
  gap: 8px;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.hero__btn-hero-products {
  position: absolute;
  z-index: 3;
}

.hero__btn-hero-made {
  position: absolute;
  left: 90px;
  z-index: 3;
}

.hero__btn-hero-item {
  background-color: #fff; /*zmienic na var */
  border: none;
  border-radius: 20px;
  font-family: 'DM Sans', sans-serif; /*zmienic na var */
  color: #d41443; /*zmienic na var */
  font-size: 8px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  padding-left: 9px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 9px;
}

.hero__btn-hero-item:hover,
.hero__btn-hero-item:focus {
  color: #fff; /*zmienic na var */
  background-color: #d41443; /*zmienic na var */
}

.bg-image {
  position: absolute;
  right: 32px;
  top: 92px;
  z-index: 2;
}

.bg-circle {
  background: #ffa5ba;
  border: none;
  border-radius: 50%;
  position: absolute;
  width: 346px;
  height: 344px;
  left: 36px;
  top: 83px;
  z-index: 1;
}