
.products .products__etiquette {
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
}
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__etiquette{
        font-family: var(--secondary-font);
        font-size: 18px;
        line-height: 1.17; 
        text-align: center;
        text-transform: uppercase;
        color: var(--time-table-color);
    }
    &__title{
        font-family: var(--secondary-font);
        font-size: 34px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--secondary-color);
        margin: 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        width: 100%;
        height: 485px;
        border-radius: 24px;
        padding: 161px 41px 21px 39px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 180px;
        &::after {
            content: url(../images/products/3dots.png);
            position: relative;
            top: -239px;
            right: 0;
          }

        &:nth-child(1) {
            background: var(--first-background-color);
            &::before {
                content: url(../images/products/products1.png);
                position: absolute;
                top: -160px;
                right: 4%;
              }
        }
        &:nth-child(2) {
            background: var(--contacts-title-bg);
            &::before {
                content: url(../images/products/products2.png);
                position: absolute;
                top: -160px;
                right: 4%;
              }
        }
        &:nth-child(3) {
            background: var(--contacts-title-bg-second);
            &::before {
                content: url(../images/products/products3.png);
                position: absolute;
                top: -160px;
                right: 4%;
              }
        }   
    }
    &__secondary-title{
        font-family: var(--secondary-font);
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--white-color);
    }  
    &__description{
        font-family: var(--main-font);
        font-weight: bold;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--white-color);
        margin-top: 66px;
        margin-bottom: 30px;
    } 
    &__btn{
        width: 40px;
        height: 40px;
        background: url(/images/products/arrow-right.png);
        border-radius: 0;
        border: none;
        cursor: pointer;
        overflow: visible;
    } 
}
@media screen and (min-width: 480px) and (max-width: 767px){
    .products{
        &__item {
            width: 280px;
            height: 515px;
            &::after {
                top: -266px;
              }
        }
        &__secondary-title{
            font-size: 22px;
        }  
        &__description{
            font-size: 15px;
        } 
        
    }

}
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .products {
        justify-content: center;
        
        &__etiquette{
            font-size: 26px;
            line-height: 1.15;
        }
        &__title{
            font-size: 48px;
            line-height: 1.15;
        }

        &__list {
            display: flex;
            flex-direction: row;
        }
        &__item {
            width: 220px;
            padding: 152px 11px 21px 11px;
            position: relative;
            margin-top: 200px;
            &::after {
                top: -250px;
              }

            &:nth-child(1) {
                margin-right: 20px;
                &::before {
                    content: url(../images/Products/tablet-products1.png);
                    top: -150px;
                    right: 0;
                }
            }
            &:nth-child(2) {
                margin-right: 20px;
                &::before {
                    content: url(../images/Products/tablet-products2.png);
                    top: -150px;
                    right: 0;
                }
            }
            &:nth-child(3) {
                &::before {
                    content: url(../images/Products/tablet-products3.png);
                    top: -150px;
                    right: 0;
                }
            }

        }
        &__description{
            height: 124px;
            font-size: 14px;
            line-height: 1.785;
            margin-bottom: 40px;
            overflow: hidden;
        }
    }
}
@media screen and (min-width: 1280px) {
    .products {
        
        &__etiquette{
            font-size: 30px;
            line-height: 1.13;
        }
        &__title{
            font-size: 58px;
            line-height: 1.14;
        }

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &__item {
            width: 329px;
            height: 100%;
            padding: 163px 44px 50px 44px;
            position: relative;
            margin-top: 259px;
            &::after {
                top: -250px;
              }

            &:nth-child(1) {
                margin-right: 29px;
                &::before {
                    content: url(../images/Products/desktop-products1.png);
                    top: -220px;
                    right: 0;
                }
            }
            &:nth-child(2) {
                margin-right: 30px;
                &::before {
                    content: url(../images/Products/desktop-products2.png);
                    top: -220px;
                    right: 0;
                }
            }
            &:nth-child(3) {
                &::before {
                    content: url(../images/Products/desktop-products3.png);
                    top: -220px;
                    right: 0;
                }
            }
        }
        &__secondary-title{
            font-size: 30px;
            line-height: 1.13;
        }
        &__description{
            height: 106px;
            margin-top: 70px;
            margin-bottom: 60px;
            font-size: 16px;
            line-height: 1.75;
            overflow: hidden;
            
        }

    }

}